[submodule "vendor/kissfft"]
	path = vendor/kissfft
	url = https://github.com/mborgerding/kissfft
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/portaudio"]
	path = vendor/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/epezent/implot.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/lodepng"]
	path = vendor/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "vendor/portable-file-dialogs"]
	path = vendor/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
[submodule "vendor/dr_libs"]
	path = vendor/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/tinydng"]
	path = vendor/tinydng
	url = https://github.com/syoyo/tinydng
[submodule "vendor/rtmidi"]
	path = vendor/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "vendor/ffmpeg"]
	path = vendor/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
